canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

.mainNote {
    border: 1px solid black;
    background-color: #f0eeef; /* rgb(255, 242, 171), #f5dec3 */
    width: 100px;
    height: 125px;
    position: absolute;
    padding: 3px;
    transition: .5s ease;
    overflow: hidden;
}

.connectionText {
    position: absolute;
    color: grey;
    font-size: 7pt;
    bottom: 100%;
    right: 0%;
    margin-bottom: 0;
    padding-bottom: 4px;
    /* opacity: 0; */
    transition: .5s ease;
}

.mainNote:hover {
    width: 175px;
    height: 219px;
    transform: translate(calc((175px - 100px) / -2), calc((219px - 125px) / -2));
}

.mainNote:hover .connectionText {
    opacity: 1;
}

.stickyNote {
    border: 1px solid black;
    background-color: rgb(255, 247, 209); /* rgb(255, 242, 171) */
    width: 75px;
    height: 75px;
    position: absolute;
    padding: 3px;
    transition: .5s ease;
}

.stickyNote:hover {
    width: 125px;
    height: 125px;
    transform: translate(calc((125px - 75px) / -2), calc((125px - 75px) / -2));
}

.mainNoteTitle {
    margin-bottom: 0px;
    overflow: hidden;
    max-height: 3.3rem;
    /* text-overflow: ellipsis; */
    /* word-break: break-word; */
}

.mainNoteText {
    text-overflow: ellipsis;
}