#add {
    position: absolute;
    bottom: 10%;
    right: 6%;
    background-image: url(../../resources/addIconWhite.png);
    background-size: contain;
    border: none;
    width: 40px;
    height: 40px;
    background-color: unset;
    transition: .75s ease;
    translate: 50% 50%;
    z-index: 6;
}
#add:hover {
    width: 50px;
    height: 50px;
}

#add:active {
    animation: 1.25s spin;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(720deg);
    }
}