html, body {
    height: 100%;
    margin: 0;
}
.body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
    color:white;
    background: url("../resources/background.jpg");
	background-position: center;
	background-size: contain;
	background-repeat: repeat;
	background-color: rgb(2, 2, 14);
}
.siteTitle {
    font: 32px Corbel Light;
    flex: 1 1 auto;
    color:#00BFFF;
}
.pageTitle {
    font: 28pt Corbel Light;
    color:white;
    margin: auto auto 45px;
    font-style: italic;
}
div.center {
    flex: 1 1 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}
div.inputRow {
    margin: 5px;
}

.label {
    font: 16px Corbel Light;
    display: inline-block;
    text-align: left;
    width: 140px;
}

.labelRed {
    color: red;
}

.textInputRed {
    border: 1.5px solid red;
}

.button {
    font-family: Corbel Light; 
	background-color: darkblue; /* #0CAC25 */
   	color: white; 
	border-color: darkblue;
    font-style: bold;
    margin: 25px;
}
.link {
    font: 12pt Corbel Light;
	text-decoration: none;
	border-bottom: 1px solid #505050;
	padding: 1px;
	margin: 3px;
	color:#00BFFF;
}
.phantomFooter {
    visibility: hidden;
    height: 40px;
    flex: 1 1 auto;
}