.headerColor {
    background-color: #0d0a42;
}

.infoBox {
    border-right: 1px solid grey;
    height: 100%;
    background: grey;
    opacity: .8;
}

.brandLink {
    color: white;
    font: 24pt 'Abuget';
    margin-bottom: -5px;
}
.brandLink:hover {
    color: rgb(186, 186, 186);
}
.brandLink:visited {
    color: white;
}

#editor {
    /* font: 16pt 'Abuget'; */
}

#journalWall {
    /* font: 16pt 'Abuget'; */
}

.accountLink {
    font: 12pt Corbel Light;
    font-weight: bold;
	text-decoration: none;
	border-bottom: 1px solid #505050;
	padding: 1px;
	margin: 4px;
	color: #00BFFF;
}

@font-face {
    font-family: "Abuget";
    src: url("../resources/Abuget.ttf") format("truetype");
}