html {
	height: 100%;
	width: 100%;
	margin: 0;
	background: url("../resources/background.jpg");
	background-position: center;
	background-size: contain;
	background-repeat: repeat;
	background-color: rgb(2, 2, 14);
}

.body {
    width: 100%;
	height: 100%;
	margin: 0;
	background: url("../resources/background.jpg");
	background-position: center;
	background-size: contain;
	background-repeat: repeat;
	background-color: rgb(2, 2, 14);
}

#journal {
	position: absolute;
	width: 273px;
	height: 360px;
	background-image: url("../resources/justNotebook.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 273px 359.8px;
	margin-top: 5px;
}

.title {
	position: absolute;
	padding: 20px;
	top: 0%;
	font: italic 26pt Corbel Light;
	color: white;
	z-index: 2;
}

form {
	position: relative;
}

.inputRow {
	text-align: center;
	margin: 15px;
}

.label {
	color: white;
	font-family: Corbel Light;
}

input[type="text"], input[type="password"] {
	font-family: Corbel Light;
}

input[type="button"] {
	font-family: Corbel Light; 
	background-color: darkblue; /* #0CAC25 */
   	color: white; 
	border-color: darkblue;
    font-style: bold;
	margin-top: 25px;
}

.linksContainer {
	white-space: nowrap;
	position: absolute;
	top: 80%;
	transform: translateX(-10%);
}

.link {
	font: 12pt Corbel Light;
	text-decoration: none;
	border-bottom: 1px solid #505050;
	padding: 1px;
	margin: 4px;
	color: #00BFFF;
}

.submitContainer {
	position: absolute;
	width: 100%;
	top: 100%;
	text-align: center;
}

.flexCenter {
	display: flex;
	align-items: center;
	justify-content: center;
}

.textAlignCenter {
	text-align: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
