.mainNote {
    position: absolute;
    width: 300px;
    height: calc(35%);
    /* translate: -50% -50%; */
    background-color: #f0eeef; /* rgb(255, 242, 171), #f5dec3 */
    border-left: 1px solid black;
    border-right: 1px solid black;
    /* border-top: 1px solid #f0eeef;
    border-bottom: 1px solid #f0eeef; */
    border: 1px solid;
    padding: 3px;
    transition: .5s ease;
    z-index: 3;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.noConnections {
    width: 100px;
    height: 125px;
    border: 1px solid;
}

.mainNote:hover {
    z-index: 4;
}

.mainNote:hover .noteText {
    opacity: 1;
}

.titleAndDateContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.noteTitle {
    font-style: italic;
}

.noteText {
    text-overflow: ellipsis;
    font-size: 11pt;
    /* opacity: 0; */
    transition: .5s ease;
    /* max-height: 300px; */
    overflow: auto;
}

.noteDate {
    position: absolute;
    top: 1%;
    right: 3%;
    color: #4c4c4c;
}

.line {
    width: 1px;
    transition: .5s ease;
}