.mainNote {
    border: 1px solid black;
    background-color: rgba(240, 238, 239, .95); /* rgb(255, 242, 171), #f5dec3 */
    width: 100px;
    height: 125px;
    translate: -50% -50%;
    position: absolute;
    padding: 3px;
    transition: .5s ease;
    overflow: hidden;
    z-index: 3;
}

.mainNote:hover {
    width: 175px;
    height: 219px;
    /* transform: translate(calc((175px - 100px) / -2), calc((219px - 125px) / -2)); */
    z-index: 4;
}

.mainNote:hover .connectionText {
    opacity: 1;
}

.mainNote:hover .noteText, .stickyNote:hover .noteText {
    opacity: 1;
    display: block;
}

.stickyNote {
    border: 1px solid black;
    background-color: rgb(255, 247, 209, .95); /* rgb(255, 242, 171) */
    width: 100px;
    height: 100px;
    translate: -50% -50%;
    position: absolute;
    padding: 3px;
    transition: .5s ease;
    overflow: hidden;
    z-index: 3;
}

.stickyNote:hover {
    width: 175px;
    height: 175px;
    /* transform: translate(calc((175px - 100px) / -2), calc((175px - 100px) / -2)); */
    z-index: 4;
}

.noteTitle {
    margin-bottom: 0px;
    overflow: hidden;
    /* max-height: 3.3rem; */
    font-weight: bold;
    min-height: 1.4em;
    text-align: center;
    /* text-overflow: ellipsis; */
    /* word-break: break-word; */
}

.noteText {
    text-overflow: ellipsis;
    font-size: 11pt;
    transition: .5s ease;
    animation: fadeIn .75s;
}

.selected {
    color: blue;
}

.tack {
    position: absolute;
    top: 0%;
    max-height: none;
    max-width: 30px;
    width: unset;
    height: unset;
    margin-top: 0px;
}

.connectionNote {
    translate: 0px 0px;
    position: relative;
    height: 125px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3); */
}

.connectionNote:hover {
    transform: translate(0, 0);
    height: 125px;
}

.connectionText {
    display: none;
    opacity: 0;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

/* .connectionLabel {
    position: absolute;
    color: grey;
    font-size: 7pt;
    bottom: 100%;
    right: 0%;
    margin-bottom: 0;
    padding-bottom: 4px;
    opacity: 0;
    transition: .5s ease;
} */

.connectionText:hover {
    opacity: 1;
}