html, body {
    overflow: hidden;
}

#content {
    width: 100%;
    height: 100%;
}

form {
    margin: 25px;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

img { /* Notebook icon */
    margin-top: 2px;
    width: 20px;
    height: 24px;
}

#notebook {
    width: 100%;
    margin-bottom: 5px;
    margin-left: 10px;
}

#editor {
    display: flex;
    flex-direction: column;
    padding: 14px;
    border: 1px solid;
    background: white;
    transition: 1s ease;
}

input[type="text"], textarea {
    border: none;
    outline: none;
    padding-bottom: 4px;
    background-color: transparent;
}

#title {
    font-weight: bold;
    font-size: 14pt;
    padding-left: 0;
    padding-bottom: 2px;
}

#text {
    height: 38vh;
    font-size: 11pt;
}

#quotes {
    height: 10vh;
    font-style: italic;
    padding: 0;
    resize: none;
}

.radioRow {
    margin: 10px;
}

#connectionsRow {
    margin: 0px 10px 10px 10px;
}

#connections {
    display: inline;
}

canvas {
    margin: 0px 5px;
}

.canvasContainer {
    display: inline-block;
    padding: 5px;
    border: 1px solid transparent;
    transition: .5s ease;
    position: relative;
    /* border-radius: 2px; */
}

.canvasContainer:hover {
    border: 1px solid;
}

.plusContainer {
    background-color: lightskyblue;
    height: 13px;
    width: 13px;
    display: -webkit-inline-box;
    text-align: center;
    border: 1px solid;
    font-size: 15px;
    position: relative;
    top: 6px;
    transition: 1s ease;
    overflow: hidden;
    margin-bottom: 0px;
}

.plusText {
    position: relative;
    top: -7px;
    left: 0%;
    transition: ease;
    cursor: pointer;
}

.expandConnectionPlus {
    width: 200px;
    height: 40px;
}

.minusText {
    left: 94%;
}

#addingConnection {
    width: 90%;
    margin-left: 3px;
    background: transparent;
    border: none;
    display: block;
}

#addingConnection:focus-visible {
    outline: none;
}

option {
    background: lightgray;
}

.removeConnection {
    background-image: url("../resources/removeIcon.png");
    background-size: contain;
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-bottom-color: white;
    position: absolute;
    top: 0%;
    bottom: 0;
    right: 0%;
    z-index: 2;
    padding: 3px;
    visibility: hidden;
    opacity: 0;
    transition: .5s ease;
}

.canvasContainer:hover .removeConnection {
    visibility: visible;
    top: unset;
    bottom: 100%;
    opacity: 1;
}

.removeConnection:hover {
    background-image: url("../resources/removeIconHover.png");
    background-size: contain;
}

.form-check-input[type=radio] {
    transition: .5s ease;
}