html, body {
    margin: 0;
    height: 100%;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
}
main {
    background-color: lightskyblue;
    padding: 20px;
}
input, textarea, #feeling {
    display: block;
}
.title, #feelingcbbx, #connectLabel {
    display: inline-block;
}