html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    width: 100%;
    display: flex;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header {
    width: 100%;
}

@font-face {
    font-family: "My Custom Font";
    src: url("../resources/Rossana-Regular.ttf") format("truetype");
}

#content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.headerColor {
    background-color: #392929;
}

@media (max-width: 768px) {
    info-box-component {
        display: none;
    }
}

.whiteText {
    color: white;
}

p {
    word-wrap: break-word;
    font-size: 10pt;
}